In [4]:
from sklearn.datasets import make_classification

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score , confusion_matrix

In [5]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
df=pd.read_csv('./data/CreditCard.csv')
df.head()

,Unnamed: 0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,0,1,20000,2,2,1,24,2,2,-1,...,0,0,0,0,689,0,0,0,0,1
1,1,2,120000,2,2,2,26,-1,2,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,2,3,90000,2,2,2,34,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,3,4,50000,2,2,1,37,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,4,5,50000,1,2,1,57,-1,0,-1,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [7]:
df=df.drop(labels=['ID'],axis=1)

In [8]:
##Independent and Dependent Features

X=df.drop(labels=['default payment next month'],axis=1)
Y=df[['default payment next month']]

In [9]:
## Train test split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [7]:
X_train

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
777,777,20000,1,2,2,26,-1,-1,-1,-1,...,451,-810,-420,1320,1261,451,0,780,2130,0
5436,5436,150000,1,1,1,41,1,-2,-1,-1,...,1600,5431,0,0,0,1800,5431,0,0,0
19260,19260,250000,2,1,2,29,2,2,2,2,...,125721,122209,126129,127847,5900,4500,0,5954,3900,4826
2643,2643,360000,1,1,1,39,1,-2,-2,-2,...,0,0,691,7020,0,0,0,691,7020,0
26905,26905,280000,1,2,1,44,0,0,0,0,...,122611,119023,113754,115029,7822,4529,4238,4305,4208,4003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,500,30000,2,2,1,38,0,0,0,0,...,22537,24161,25128,24576,2000,1500,2000,1500,0,1200
12077,12077,230000,2,2,1,32,-1,0,0,0,...,2720,3720,0,0,1046,1000,1000,0,0,44752
15277,15277,260000,2,2,1,32,0,0,0,0,...,102369,80488,82150,84818,5300,3500,3000,3000,4000,4000
4517,4517,50000,1,1,2,38,-1,-1,-1,-1,...,390,390,390,5010,390,390,390,390,5010,390
5925,5925,290000,2,2,1,53,-1,-1,-1,-1,...,1440,1017,3798,4898,199,1440,1017,3798,4898,5034

In [10]:
model=LogisticRegression()

In [11]:
X_train_arr = np.array(X_train)

In [17]:
X_test_arr=np.array(X_test)

In [12]:
Y_train_arr= np.array(y_train)

In [19]:
Y_test_arr= np.array(y_test)

In [20]:
y_test_arr=Y_test_arr.ravel()

In [13]:
y_train_arr=Y_train_arr.ravel()

In [13]:
X_train_arr

array([[   777,  20000,      1, ...,    780,   2130,      0],
       [  5436, 150000,      1, ...,      0,      0,      0],
       [ 19260, 250000,      2, ...,   5954,   3900,   4826],
       ...,
       [ 15277, 260000,      2, ...,   3000,   4000,   4000],
       [  4517,  50000,      1, ...,    390,   5010,    390],
       [  5925, 290000,      2, ...,   3798,   4898,   5034]])

In [14]:
y_train_arr

array([0, 0, 1, ..., 0, 1, 0])

In [15]:
##training the model
model.fit(X_train_arr,y_train_arr)

/config/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
y_pred=model.predict(X_test_arr)

In [21]:
accuracy_score(y_test_arr,y_pred)

0.7848888888888889